 table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: scroll;
  text-align:center;
}

th {
  padding: 6px;
  font-size: 15px;
  border-right: 1px solid #000000;
}
div.tablecontent table thead tr th{
  text-align: center;
  justify-items: center;
}

td{
  padding:8px;
  font-size: 15px;
}
td a{
  display:block;
}

thead {
  background-color: #fdfdfd;
  border: 1px solid #000000;
}

hr {
 margin:0 !important;
 background-color: #000000 !important;
 height: 2px !important;
}
.maincontent {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 35px;
}
.maincontent .main_header {
  margin-bottom: 20px;
}
.tablecontent {
  margin-top: 20px;
}


::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
.table thead th {
  vertical-align: middle;
  border: 2px solid #dee2e6;
}
table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable th:first-child, table.table-bordered.dataTable td:first-child, table.table-bordered.dataTable td:first-child {
  border-left-width: 1px;
  border-left-color: #dee2e6;
}

.table tbody tr:last-child td, .table tbody tr:last-child th {
  border-bottom-width: 1px;
}
table.table-bordered.dataTable thead tr:first-child th, table.table-bordered.dataTable thead tr:first-child td {
  border-right-width: 0.5px;
}

div.dataTables_scrollBody {
  border-left: 0px solid #ddd !important;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-size: 16px;
  border-radius:5px 5px 5px 5px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

div.dataTables_scroll.dtfc-has-left{
  position: static !important;
}
@media (max-width:1440px) {
  div.dataTables_scrollHeadInner{/* problem */
    width: 100% ;
  }
  table.table.table-hover.table-bordered.nowrap.no-footer.dataTable{ /* header table 9/6/2022*/
    width: 100% ;
  }
}
@media (max-width:1024px) {

  
}
