{% extends '../layout.html' %}
{% load static %}
{% load i18n %}

{% block banner_text %}
    {% block title %}
      {% trans "Contact - SKCONE" %}
    {% endblock %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/table.css' %}">
<link rel="stylesheet" href="{% static '/css/contact.css' %}">
{% endblock %}

{% block body %}
<!-- <ul class="sidebar" id="sidebar">
    <li id="test" class="sidebar_menu"><a href="{% url 'index' %}" class="btn"><img src='/static/image/layout_img/envelope.png' alt="Inbox"
                class="sidebar-logo"><span>Inbox</span></a></li>
    <li class="sidebar_menu"><a href="{% url 'dashboard' %}" class="btn"><img src='/static/image/layout_img/chart-histogram.png' alt="Dashboard"
                class="sidebar-logo"><span>Dashboard</span></a></li>
    <li class="sidebar_menu"><a href="{% url 'history' %}" class="btn"><img src="/static/image/layout_img/book-alt.png" alt="History"
                class="sidebar-logo"><span>History</span></a></li>
        <li class="sidebar_menu"><a href="{% url 'contact' %}" class="btn active"><img src="/static/image/layout_img/address-book.png" alt="ContactList"
                class="sidebar-logo"><span>ContactList</span></a></li>
</ul> -->
<!-- Side bar End -->
<div class="main" id="div_register">
    <div class="maincontent">
      <div class="main_head">
        <span style="font-size:200%; margin-left: 22px;">{% trans "ContactList" %}</span><br>
        <hr>
    </div>
    <div class="container">
      <div class="card-temp card-temp1">
        <div class="left-card">
          <a href="page" ><span>{% trans "Go to Website" %}</span></a>
          <img src="/static/image/contact_pic_1.png" alt="system1">
        </div>
        <div class="card-temp card-temp1">
          <div class="right-card">
            <h1 class="text origin-font">{% trans "myDAS" %}</h1>
            <p class="info"> {% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim distinctio commodi accusamus velit vero rerum doloremque dolores deserunt sit fugiat nulla illum maiores facere, labore aliquid quidem aut omnis." %}</p>
          </div>
        </div>
      </div>
      <div class="card-temp card-temp1">
        <div class="left-card">
          <a href="page" ><span>{% trans "Go to Website" %}</span></a>
          <img src="/static/image/contact_pic_2.png" alt="system1">
        </div>
        <div class="card-temp card-temp1">
          <div class="right-card">
            <h1 class="text origin-font">{% trans "myDAS" %}</h1>
            <p class="info"> {% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim distinctio commodi accusamus velit vero rerum doloremque dolores deserunt sit fugiat nulla illum maiores facere, labore aliquid quidem aut omnis." %}</p>
          </div>
        </div>
      </div>
      <div class="card-temp card-temp1">
        <div class="left-card">
          <a href="page" ><span>{% trans "Go to Website" %}</span></a>
          <img src="/static/image/contact_pic_1.png" alt="system1">
        </div>
        <div class="card-temp card-temp1">
          <div class="right-card">
            <h1 class="text origin-font">{% trans "myDAS" %}</h1>
            <p class="info"> {% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim distinctio commodi accusamus velit vero rerum doloremque dolores deserunt sit fugiat nulla illum maiores facere, labore aliquid quidem aut omnis." %}</p>
          </div>
        </div>
      </div>
      <div class="card-temp card-temp1">
        <div class="left-card">
          <a href="page" ><span>{% trans "Go to Website" %}</span></a>
          <img src="/static/image/contact_pic_2.png" alt="system1">
        </div>
        <div class="card-temp card-temp1">
          <div class="right-card">
            <h1 class="text origin-font">{% trans "myDAS" %}</h1>
            <p class="info"> {% trans "Lorem ipsum dolor sit amet consectetur adipisicing elit. A enim distinctio commodi accusamus velit vero rerum doloremque dolores deserunt sit fugiat nulla illum maiores facere, labore aliquid quidem aut omnis." %}</p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
    <script>
    var btnContainer = document.getElementById("sidebar");
    var btns = btnContainer.getElementsByClassName("btn");
      btns[3].classList.add("active");
        </script>
    {% endblock %}