{% extends '../layout.html' %}
{% load static %}
{% load i18n %}

{% block banner_text %}
    {% block title %}
        {% trans "Inbox - SKCONE" %}
    {% endblock %}
{% endblock %}

{% block extra_css %}
    <link href="{% static '/css/table.css' %}" rel="stylesheet" media="screen" /> 
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bulma.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="main" id="div_register">
<div class="maincontent">
    <div class="main_head">
   <span style="font-size:200%; margin-left: 22px;">{% trans "Document" %}</span><br>
     </div>
  <hr>
   <div class="tablecontent" id="tablecontent">
    <!-- <table id="example" class="table table-striped table-bordered"> -->
    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
        <thead>
            <tr>
                <th style="width: 5%;" class="no-sort">{% trans "Detail URL" %}</th>
                <!-- <th>Document Number</th> -->
                <th style="width: 20%;" class="no-sort">{% trans "Title" %}</th>
                <th style="width: 10%;">{% trans "Department" %}</th>
                <th style="width: 10%;">{% trans "Requester" %}</th>
                <th style="width: 10%;">{% trans "Request Date" %}</th>
                <!-- <th style="width: 7.5%;">Last Update</th> -->
                <th style="width: 15%;">{% trans "System" %}</th>
                <!-- <th style="width: 10%;" class="no-sort">Document Status</th> -->
                <th style="width: 5%;" class="no-sort">{% trans "Attachment" %}</th>
                <!-- <th>Approver</th> -->
                <!-- <th style="width: 15%;" class="no-sort"></th> -->
            </tr>
        </thead>
    <!-- </table> -->
        <tbody>
        {% for data in all_data %}
            <tr>
              <td><a href= {{ data.detailUrl }} target="_blank"><img src="/static/image/file.png" style="width: 50px; height: 50px;"></a></td>
              <!-- <td>{{ data.docNumber }}</td>   -->
              <td>{{ data.title }}</td> 
              <td>{{ data.department }}</td>
              <td>{{ data.requesterCode }}</td>
              <td>{{ data.requestDate }}</td>
              <!-- <td>{{ data.lastUpdate }}</td> -->
              <td>{{ data.system }}</td>
              <!-- <td>{{ data.docStatus }}</td>  -->
              {%if data.attachment == True %}:
                <td>✔</td>
              {% else %}:
                <td>-</td>
                {%endif%}
              <!-- <td>{{ data.approverCode }}</td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</div>
<!-- <script type="text/javascript" src="{% static '/java_scripts/createdatatableStatus_java.js' %}"></script> -->
<script>
    
        var btnContainer = document.getElementById("sidebar");
        var btns = btnContainer.getElementsByClassName("btn");
        btns[0].classList.add("active");
        
</script>
{% endblock %}